@import "tailwindcss";
@config "./tailwind.config.js";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-gold-24k {
    background: linear-gradient(
      90deg,
      #BF953F 0%,
      #FCF6BA 25%,
      #B38728 50%,
      #FBF5B7 75%,
      #AA771C 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: goldShimmer 5s linear infinite;
    filter: drop-shadow(0px 1px 2px rgba(100, 60, 20, 0.6));
  }
  
  /* Faster animation in dark mode */
  .dark .text-gold-24k {
    animation: goldShimmer 3s linear infinite;
  }
  
  @keyframes goldShimmer {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }
}
